<div class="bg-gray-100 font-sans leading-normal tracking-normal flex">

  <div class="bg-gray-200 text-gray-800 w-64 flex-shrink-0">
    <div class="h-screen flex flex-col justify-between">
      <div class="p-4">
        <div class="flex items-center gap-2">
          <img src="assets/logo/logo_192.png" alt="Logo" class="w-12">
          <span class="text-2xl font-semibold">Streaming</span>
        </div>
        <ul class="mt-4">
          <li class="mb-4">
            <a routerLink="live-stream" class="text-lg flex items-center text-gray-700 hover:text-gray-900 hover:bg-green-100 rounded p-2">
              <span class="mr-2"><i class="fas fa-home"></i></span>
              Live stream
            </a>
          </li>
          <li class="mb-4">
            <a routerLink="/watch/url" class="text-lg flex items-center text-gray-700 hover:text-gray-900 hover:bg-green-100 rounded p-2">
              <span class="mr-2"><i class="fas fa-users"></i></span>
              Watch now
            </a>
          </li>
<!--          <li class="mb-4">-->
<!--            <a href="#" class="text-lg flex items-center text-gray-700 hover:text-gray-900">-->
<!--              <span class="mr-2"><i class="fas fa-cog"></i></span>-->
<!--              Settings-->
<!--            </a>-->
<!--          </li>-->
        </ul>
      </div>
      <div class="p-4">
        <p class="text-xs text-gray-600">Streaming &copy; 2024</p>
      </div>
    </div>
  </div>

  <div class="flex-grow px-4 py-4">
    <div class="bg-white rounded-lg shadow-md p-4">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
